/* сброс настроек браузера */
.link{
    text-decoration: none;
}
.list{
    list-style: none;    
}
img{
    display: block;
}

/* header */
/* логотип шапки */
.header-logo{
    font-family: 'Raleway', sans-serif;
    font-style: 700; 
    font-size: 26px; 
    line-height: 31px; 
    line-height: 100%; 
    Align: Left Vertical; 
    align: Top; 
    Letter spacing: 3%;
}

/* меню навигации */
.menu-link{
    font-family: 'Roboto', sans-serif;
    font-style: Medium; 
    font-size: 14px; 
    Line height: 1.14;
    Align: Left Vertical;
    align: Top;
    Letter spacing: 2%;    
}

.menu-link:hover,
.menu-link:focus{
    color: #2196F3;   
}


.header-mailto{
    color: #757575;
    font-family: 'Roboto', sans-serif;
    style: Medium; 
    Font size: 14px; 
    Line height: 1.14;
    Align: Left Vertical; 
    align: Top; 
    Letter spacing: 2%;
    
  }

  .header-list a:hover,
  .header-list:focus {
      color: #2196F3;
  }

  .header-contact-phone-number{
    color: #757575;
    font-family: 'Roboto', sans-serif;
    Font style: Medium; 
    Font size: 14px 
    Line height: 1.14;
    Align: Left Vertical 
    align: Top 
    Letter spacing: 2%

  }

  /* hero */
  .hero
  /* заголовок h1 */
.hero-title{
    color: #FFFFFF;
    Font family: Roboto 
    Font style: Black 
    Font size: 44px 
    Line height: 60px 
    Line height: 116% 
    Align: Center Vertical 
    align: Top 
    Letter spacing: 6%
}

/* кнопка */
.hero-btn{
    Font family: Roboto 
    Font style: Bold 
    Font size: 16px 
    Line height: 30px 
    Line height: 160%     
    Align: Center Vertical 
    align: Center 
    Letter spacing: 6%
}

/* benefits */
.benefits
/* заголовок секции */
.benefits-title

/* заголовок абзаца */
.benefits-list-title{
    color: #212121;
    Font family: Roboto 
    Font style: Bold 
    Line height: 1.14;
    Line height: 100% 
    Align: Left Vertical 
    align: Top 
    Letter spacing: 3%
}

/* текст абзацев */
.benefits-list-text{
    color: #757575;
    Font family: Roboto 
    Font style: Regular 
    Font size: 14px 
    Line height: 24px 
    Line height: 146% 
    Align: Left Vertical 
    align: Top 
    Letter spacing: 3%
}


/* work */
.work
/* заголовок секции h2*/
.work-title{
    color: #212121;
    Font family: Roboto 
    Font style: Bold 
    Font size: 36px 
    Line height: 42px 
    Line height: 100% 
    Align: Center Vertical 
    align: Top 
    Letter spacing: 3%
}

/* картинка */
.work-list-item-img

/* portfolio */
.portfolio
/* заголовок секции h2*/
.portfolio-title{
    color: #212121;
    Font family: Roboto 
    Font style: Bold 
    Font size: 36px 
    Line height: 42px 
    Line height: 100% 
    Align: Center Vertical 
    align: Top 
    Letter spacing: 3%
}

/* фото */
.portfolio-list-item-img

/* заголовок h3 */
.portfolio-list-item-title{
    color: #212121;
    Font family: Roboto 
    Font style: Medium 
    Font size: 16px 
    Line height: 19px 
    Line height: 100% 
    Align: Center Vertical 
    align: Top 
    Letter spacing: 3%
}

/* параграф */
.portfolio-list-item-text{
    color: #757575;
    Font family: Roboto 
    Font style: Regular 
    Font size: 16px 
    Line height: 19px 
    Line height: 100% 
    Align: Center Vertical 
    align: Top 
    Letter spacing: 3%
}


/* footer */
/* логотип в футере */
.footer-logo{
    color: #FFFFFF;
    Font family: Raleway 
    Font style: Bold 
    Font size: 26px 
    Line height: 31px 
    Line height: 100% 
    Align: Left Vertical 
    align: Top 
    Letter spacing: 3%
}

/* адрес с картой */
.address-maps{
    color: #FFFFFF;
    Font family: Roboto 
    Font style: Regular 
    Font size: 14px 
    Line height: 24px 
    Line height: 146% 
    Align: Left Vertical 
    align: Top 
    Letter spacing: 3%
}

/* почта */
.footer-mailto{
    color: rgba(255, 255, 255, 0.6);
    Font family: Roboto 
    Font style: Regular 
    Font size: 14px 
    Line height: 24px 
    Line height: 146% 
    Align: Left Vertical 
    align: Top 
    Letter spacing: 3%
}

/* телефон */
.footer-contact-phone-number{
    color: rgba(255, 255, 255, 0.6);
    Font family: Roboto 
    Font style: Regular 
    Font size: 14px 
    Line height: 24px 
    Line height: 146% 
    Align: Left Vertical 
    align: Top 
    Letter spacing: 3%
}






