/* сброс настроек браузера */
.link{
    text-decoration: none;
}
.list{
    list-style: none;    
}
img{
    display: block;
}
.webstudio-blue{
    color: #2196F3;

}

body{
    font-family: 'Roboto', sans-serif;
}

/* header */
/* логотип шапки */
.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
    font-size: 26px; 
    line-height: 1.19;     
    letter-spacing: 3%;
}

/* меню навигации */
.menu-link{    
    font-style: Medium; 
    font-size: 14px; 
    line-height: 1.14;   
    letter-spacing: 2%;    
}

.menu-link:hover,
.menu-link:focus{
    color: #2196F3;   
}


.header-mailto{
    color: #757575;    
    font-style: Medium; 
    font-size: 14px; 
    line-height: 1.14;    
    letter-spacing: 2%;
    
  }

  .header-list a:hover,
  .header-list:focus {
      color: #2196F3;
  }

  .header-contact-phone-number{
    color: #757575;    
    font-style: Medium; 
    font-size: 14px 
    line-height: 1.14;    
    letter-spacing: 2%;

  }

  /* hero */
  .hero
  /* заголовок h1 */
.hero-title{
    color: #FFFFFF;    
    font-style: Black; 
    font-size: 44px;
    line-height: 1.36;    
    letter-spacing: 6%;
}

/* кнопка */
.hero-btn{    
    font-style: Bold;
    font-size: 16px; 
    line-height: 1.9;     
    letter-spacing: 6%;
}

/* benefits */
.benefits
/* заголовок секции */
.benefits-title

/* заголовок абзаца */
.benefits-list-title{
    color: #212121;    
    font-style: Bold; 
    font-size: 1.14;       
    letter-spacing: 3%;
}

/* текст абзацев */
.benefits-list-text{
    color: #757575;    
    font-style: Regular; 
    font-size: 14px; 
    line-height: 1.7;     
    letter-spacing: 3%;
}


/* work */
.work
/* заголовок секции h2*/
.work-title{
    color: #212121;    
    font-style: Bold; 
    font-size: 36px; 
    line-height: 1.17;       
    letter-spacing: 3%;
}

/* картинка */
.work-list-item-img

/* portfolio */
.portfolio
/* заголовок секции h2*/
.portfolio-title{
    color: #212121;    
    font-style: Bold; 
    font-size: 36px; 
    line-height: 1.17;         
    letter-spacing: 3%;
}

/* фото */
.portfolio-list-item-img

/* заголовок h3 */
.portfolio-list-item-title{
    color: #212121;    
    font-style: Medium; 
    font-size: 16px; 
    line-height: 1.19;      
    letter-spacing: 3%;
}

/* параграф */
.portfolio-list-item-text{
    color: #757575;   
    font-style: regular; 
    font-size: 16px; 
    line-height: 1.19;       
    letter-spacing: 3%;
}


/* footer */
/* логотип в футере */
.footer-logo{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-style: Bold; 
    font-size: 26px; 
    line-height: 1.19;          
    letter-spacing: 3%;
}

/* адрес с картой */
.address-maps{
    color: #FFFFFF;   
    font-style: Regular; 
    font-size: 14px; 
    line-height: 1.71;      
    letter-spacing: 3%
}

/* почта */
.footer-mailto{
    color: rgba(255, 255, 255, 0.6);   
    font-style: Regular; 
    font-size: 14px; 
    line-height: 1.71;         
    letter-spacing: 3%;
}

/* телефон */
.footer-contact-phone-number{
    color: rgba(255, 255, 255, 0.6);    
    font-style: Regular; 
    font-size: 14px; 
    line-height: 1.71;     
    letter-spacing: 3%;
}






